body {
  background-color: #d6dc94;
}
* {
  box-sizing: border-box;
}
input {
  display: none;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 5%;
  background-color: #f3f0e9;
  border-radius: 0.3rem;
}
.tittle {
  padding-bottom: 1%;
  border-bottom: 0.12rem solid #5d9c65;
  font-size: 1rem;
  text-transform: uppercase;
  color: #212524;
  font-weight: bold;
}

.accordion-item {
  border-bottom: 0.1rem solid #5d9c65;
  font-size: 0.8rem;
  font-weight: bold;
}
.accordion-item_label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 0;
  color: #4e8b83;
}
.accordion-item_tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.accordion-item_tittle > p {
  padding: 0;
  margin: 0;
  width: 90%;
}
.icon {
  width: 1rem;
  height: 1rem;
  background-image: url("./assets/icon.ico");
  background-size: contain;
  transition: all 0.4s;
}
.accordion-item_content {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  padding: 1%;
  transition: all 0.4s;
}
.accordion-item_content > img {
  object-fit: contain;
  width: 100%;
}

input:checked ~ .accordion-item_label {
  color: #212524;
}
input:checked ~ .accordion-item_label .accordion-item_content {
  height: 10rem;
  transition: all 1s;
}
input:checked ~ .accordion-item_label .icon {
  transform: rotate(135deg);
  transition: all 1s;
}

@media (min-width: 820px) {
  .tittle {
    font-size: 1.5rem;
  }
  .accordion-item {
    font-size: 1.2rem;
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  input:checked ~ .accordion-item_label .accordion-item_content {
    height: 30rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 70%;
    padding: 1%;
  }
  .accordion-item {
    padding: 1%;
  }
  .accordion,
  .accordion-item_label {
    cursor: pointer;
  }
  .accordion-item_label {
    transition: all 1s;
  }
  .icon {
    opacity: 0;
    transition: all 1s;
  }
  .tittle {
    font-size: 2rem;
  }
  .accordion-item {
    font-size: 1.5rem;
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }

  /*HOVER*/
  .accordion:hover .accordion-item_label {
    color: #212524;
  }
  .accordion:hover .icon {
    opacity: 1;
  }
  .accordion-item:hover .accordion-item_content {
    height: 40rem;
    transition: all 1s;
  }
  .accordion-item:hover .icon {
    transform: rotate(135deg);
    transition: all 1s;
  }
  /*CHECKED*/
  input:checked ~ .accordion-item_label .accordion-item_content {
    height: 40rem;
    transition: all 1s;
  }
  /*ACTIVE*/
  .accordion-item_label:active {
    color: #4e8b83 !important;
    transition: none;
  }
  .accordion-item_label:active .accordion-item_content {
    filter: contrast(50%);
    transition: none;
  }
}
@media (min-width: 1920px) {
  .tittle {
    font-size: 3rem;
  }
  .accordion-item {
    font-size: 2.6rem;
  }
  .icon {
    width: 3rem;
    height: 3rem;
  }
}
