body {
  background-color: #d6dc94;
}
* {
  box-sizing: border-box;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #f3f0e9;
  padding: 5%;
  border-radius: 0.3rem;
}

.tittle {
  border-bottom: 0.12rem solid #5d9c65;
  text-transform: uppercase;
  color: #212524;
  font-weight: bold;
  padding-bottom: 1%;
  font-size: 1rem;
}

.accordion-item {
  border-bottom: 0.1rem solid #5d9c65;
  font-size: 0.8rem;
  font-weight: bold;
}
.accordion-item_input {
  display: none;
}

.accordion-item_label {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  padding: 2% 0;
  color: #4e8b83;
}
.accordion-item_tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.accordion-item_tittle > p {
  padding: 0;
  margin: 0;
  width: 90%;
}
.icon {
  width: 1rem;
  height: 1rem;
  background-image: url("./assets/icon.ico");
  background-size: contain;
  transition: all 0.3s;
}

.accordion-item_content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  padding: 2%;
  transition: all 0.5s;
}
.accordion-item_content > img {
  object-fit: contain;
  width: 100%;
}

.accordion-item_input:checked ~ .accordion-item_label .accordion-item_content {
  height: 10rem;
  transition: all 1s;
}

.accordion-item_input:checked ~ .accordion-item_label {
  color: #212524;
}
.accordion-item_input:checked ~ .icon {
  transform: rotate(135deg);
  transition: all 1.5s;
}
@media (min-width: 820px) {
  .tittle {
    font-size: 1.5rem;
  }
  .accordion-item {
    font-size: 1.2rem;
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .accordion-item_input:checked
    ~ .accordion-item_label
    .accordion-item_content {
    height: 30rem;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 60%;
    padding: 1%;
  }
  .accordion-item {
    padding: 1%;
  }

  .accordion,
  .accordion-item_label,
  .accordion-item_content {
    cursor: pointer;
  }
  .accordion-item_content {
    padding: 0;
  }
  .accordion-item_label {
    transition: all 1s;
  }
  .icon {
    opacity: 0;
    transition: all 1s;
  }
  .accordion:hover .accordion-item_label {
    color: #212524;
  }

  .accordion:hover .icon {
    opacity: 1;
  }

  .accordion-item:hover .accordion-item_content {
    height: 40rem;
    transition: all 0.7s;
  }
  .accordion-item:hover .icon {
    transform: rotate(135deg);
    transition: all 1.5s;
  }

  .tittle {
    font-size: 2rem;
  }
  .accordion-item {
    font-size: 1.5rem;
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }
}
@media (min-width: 1920px) {
  .tittle {
    font-size: 3.1rem;
  }
  .accordion-item {
    font-size: 2.6rem;
  }
  .icon {
    width: 3.1rem;
    height: 3.1rem;
  }
}
